h1 {
  color: #f00;
  text-align: center;
}
#header {
  background: #f00;
}
#header h1 {
  color: #f12;
}
#header a {
  border: 1px solid #f12;
}
#header a:hover {
  color: #000;
}
.aa {
  background: #800080;
  color: #000;
}
